@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

// Typography

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
// 1344px container + 4rem;
$fullhd: 1344px + (2 * $gap) !default;

// Miscellaneous

$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 3px !default;
$radius-large: 5px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// Flags

$variable-columns: true !default;

// Custom design system

// Colors

$primary-1: hsl(182, 79%, 46%);
.text-primary-1 { color: $primary-1 }
.bg-primary-1 { background: $primary-1 }

$white-1: hsl(230, 75%, 98%);
.text-white-1 { color: $white-1 }
.bg-white-1 { background: $white-1 }

$white-2: hsl(225, 29%, 95%);
.text-white-2 { color: $white-2 }
.bg-white-2 { background: $white-2 }

$green-gradient: linear-gradient(280.79deg, #00828E -34.22%, #9BE1AB 194.17%);
.text-green-gradient { background: $green-gradient; -webkit-background-clip: text; -webkit-text-fill-color: transparent }
.bg-green-gradient { background: $green-gradient }

$dark-gradient: linear-gradient(2.18deg, #100F0F -56.19%, #383E56 106.08%);
.text-dark-gradient { background: $dark-gradient; -webkit-background-clip: text; -webkit-text-fill-color: transparent }
.bg-dark-gradient { background: $dark-gradient }

$orange-gradient: linear-gradient(359.68deg, #F28D61 0.23%, #F2C787 91.92%, #FDDEB0 99.68%);
.text-orange-gradient { background: $orange-gradient; -webkit-background-clip: text; -webkit-text-fill-color: transparent }
.bg-orange-gradient { background: $orange-gradient }

:root {
  --primary-1: #{$primary-1};
  --white-1: #{$white-1};
  --white-2: #{$white-2};
  --green-gradient: #{$green-gradient};
  --dark-gradient: #{$dark-gradient};
  --orange-gradient: #{$orange-gradient};

  --size-1: #{$size-1};
  --size-2: #{$size-2};
  --size-3: #{$size-3};
  --size-4: #{$size-4};
  --size-5: #{$size-5};
  --size-6: #{$size-6};
  --size-7: #{$size-7};

  --shadow-1: -2px -2px 0 #{$primary-1};
  --shadow-2: -4px -4px 10px #{$primary-1};
}

.shadow-1 { box-shadow: var(--shadow-1); }
.shadow-2 { box-shadow: var(--shadow-2); }

// Typography

@mixin poppins ($size, $line-height, $font-weight) {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
}

.text-heading-1 { @include poppins($size: 14px, $line-height: 24px, $font-weight: 600); }
.text-heading-2 { @include poppins($size: 12px, $line-height: 24px, $font-weight: bold); }

.text-subtitle-1 { @include poppins($size: 14px, $line-height: 24px, $font-weight: normal); }
.text-subtitle-2 { @include poppins($size: 18px, $line-height: 40px, $font-weight: normal); }